<div @slideFade class="table-wrapper">
    <div class="table-container">
      <div class="div-2">
        <img src="/assets/images/food.png" alt="Meal Icon">
        <div class="table-title">Guests list</div>
      </div>

      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-8">
          <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="text" id="table-search-users" class="block p-2 ps-10 text-base text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for guests/room number">
      </div>
      
      <div class="table-content">
  <div class="relative overflow-x-auto overflow-y-auto shadow-md flex flex-col justify-start flex items-center pt-8">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-7xl mx-auto">
      <div class="overflow-y-auto h-82">
        <table class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Age
                </th>
                <th scope="col" class="px-6 py-3">
                   Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Room number
                </th>
                <th class="px-6 py-3">
                  Stay period
              </th>
              <th class="px-6 py-3">
                Tel
            </th>
              <th class="px-6 py-3">
                View
            </th>
            <th class="px-6 py-3">
                Status
            </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="overflow-y-auto h-36">
            <tr *ngFor="let guest of guests" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{guest.name}}
                </th>
                <td class="px-6 py-4">
                    {{guest.age}}
                </td>
                <td class="px-6 py-4">
                   {{guest.gender}}
                </td>
                <td class="px-6 py-4">
                     {{guest.roomNumber}}
                </td>
                <td class="px-6 py-4">
                    {{ guest.stayPeriod.from | date: 'mediumDate' }} - {{ guest.stayPeriod.to | date: 'mediumDate' }}
               </td>
               <td class="px-6 py-4">
                {{guest.tel}}
               </td>
               <td class="px-6 py-4">
                {{guest.view}}
               </td>
               <td class="px-6 py-4">
                <div *ngIf="guest._id | guestAttended:mealEvent" class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Attended
                </div>
                <div *ngIf="!(guest._id | guestAttended:mealEvent)" class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Not attended
                </div>
              </td>
  
                <td class="flex items-center px-6 py-4 space-x-3">
                  <button *ngIf="guest._id" (click)="checkInGuest(guest._id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    Check in
                  </button> 
                  <button *ngIf="guest._id" (click)="checkOutGuest(guest._id)" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                    Check out
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
  
  