<form [formGroup]="createMealEventForm" (ngSubmit)="onSubmit()">
        <!-- Date Picker Input -->
        <input formControlName="date" type="date">
        
        <!-- Meal Type Dropdown -->
        <select formControlName="mealType">
          <option *ngFor="let type of mealTypes" [value]="type">{{ type }}</option>
        </select>

<div @slideFade class="table-wrapper">
    <div class="table-container">
      <div class="div-2">
        <img src="/assets/images/createME.png" alt="Meal Icon">
        <div class="table-title">Create meal event</div>
      </div>
      <div class="icon">
        <img src="/assets/images/mealEventIcon.png" alt="Create meal event">
        <div class="icon-title">Create meal event </div>
      </div>


      <div class="table-content">
<div class="relative overflow-x-auto overflow-y-auto shadow-md flex flex-col justify-start items-center pt-8">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-5xl mx-auto">
    <div class="overflow-y-auto h-72">
      <table class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
            
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of menuItems; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="{{items.image}}" alt="Dish">
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{items.name}}</div>
                        <div class="font-normal text-gray-500">Ingredients: 
                            <span class="font-medium">{{items.created_at | date: 'mediumDate'}}</span>
                        </div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    {{items.description}}
                </td>
                <td class="px-6 py-4">
                    <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{items.category}}</div>
                </td>
                <td class="px-6 py-4">
                    <div *ngIf="selectedMenuItems.includes(items._id)" class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Selected
                      </div>
                      <div *ngIf="!selectedMenuItems.includes(items._id)" class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Not selected
                    </div>
                </td>
                <td>
                    <button (click)="addMenuItem(items._id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        {{ selectedMenuItems.includes(items._id) ? 'Remove' : 'Add' }}
                    </button>
                  </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>

    <button type="submit">Create</button>
