<div class="div-2">
    <img src="/assets/images/menu_img.png" alt="Meal Icon">
    <div class="table-title">Menu</div>
  </div>
  
  <div @fadeIn *ngIf="menuItems.length; else noItems" class="menu-container">
    <div *ngFor="let item of menuItems" class="menu-item">
      <img src="{{item.image}}" alt="Dish Name" class="menu-image">
      <h3 class="menu-name">{{item.name}}</h3>
      <p class="menu-type">{{item.category}}</p>
      <p class="menu-description">{{item.description}}</p>
    </div> 
 </div>
    <ng-template #noItems>
    <div class="no-items-message">
      There are no dishes for now
    </div>
    </ng-template>