:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  router-outlet {
    flex-grow: 1;
  }


  .background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/hotel.png');
    background-size: cover;
    background-position: center;
    z-index: -1; 
    transition: opacity 0.5s ease-in-out;
  }
  
  .faded-background {
    opacity: 0.5;
  }


  .main-content {
    position: relative;
    transition: opacity 1s ease;
    min-height: calc(100vh - 100px);
    z-index: 1;
  }

  .welcome-message {
    color: #fff;
    background-color: #38a169; /* Зелен цвят */
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    animation: slideIn 0.5s ease-out, fadeOut 2.5s ease-out 2s; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @keyframes slideIn {
    from {
      top: 80px;
      opacity: 0;
    }
    to {
      top: 100px;
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  

