<div class="flex flex-col justify-start items-center pt-[14rem] min-h-screen">
  <div @slideFade class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-3xl mx-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Meal type
              </th>
              <th scope="col" class="px-6 py-3">
                  Date
              </th>
              <th scope="col" class="px-6 py-3">
                  Total guests
              </th>
              <th scope="col" class="px-6 py-3">
                    Attended guests
              </th>
              <th class="px-6 py-3">
                Status
            </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let event of mealEvents" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{event.mealType}}
              </th>
              <td class="px-6 py-4">
                  {{event.date | date: 'mediumDate'}}
              </td>
              <td class="px-6 py-4">
                 {{event.totalGuests}}
              </td>
              <td class="px-6 py-4">
                   {{event.attendedGuests}}
              </td>

              <td class="px-6 py-4">
                <div *ngIf="selectedMealEventId === event._id" class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Selected
                </div>
                <div *ngIf="selectedMealEventId !== event._id">  -                 
                </div>
            </td>

              <td class="flex items-center px-6 py-4 space-x-3">
                <button *ngIf="event._id" (click)="selectMealEvent(event._id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                  Choose
                </button>
                <button *ngIf="event._id" (click)="removeMealEvent()" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                  Remove
                </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>